<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	coreApp="true"
	package="com.teslasoft.libraries.support">

	<permission-group
		android:label="access Teslasoft Core"
		android:icon="@drawable/jarvis2"
		android:name="com.teslasoft.permission-group.TESLASOFT_CORE"
		android:priority="900"
		android:description="@string/permission_access_core_desc"/>

	<permission-group
		android:label="access root on this device"
		android:icon="@drawable/jarvis2"
		android:name="com.teslasoft.permission-group.ROOT"
		android:priority="900"
		android:description="@string/permission_access_root_desc"/>

	<permission-group
		android:label="access Teslasoft SmartCard API on this device"
		android:icon="@drawable/jarvis2"
		android:name="com.teslasoft.permission-group.SMARTCARD"
		android:priority="900"
		android:description="@string/permission_access_smartcard_desc"/>

	<permission-group
		android:label="use biometric authentication on this device"
		android:icon="@drawable/ic_fingerprint"
		android:name="com.teslasoft.permission-group.USE_BIOMETRICS"
		android:priority="900"
		android:description="@string/permission_access_bio_desc"/>

	<permission-group
		android:label="load CoreX library and binaries on this device"
		android:icon="@drawable/jarvis2"
		android:name="com.teslasoft.permission-group.COREX"
		android:priority="900"
		android:description="@string/permission_access_corex_desc"/>

	<permission-group
		android:label="use Jarvis Account API on this device"
		android:icon="@drawable/jarvis2"
		android:name="com.teslasoft.permission-group.AUTHENTICATE_ACCOUNTS"
		android:priority="900"
		android:description="@string/permission_access_auth_desc"/>

	<permission
		android:name="com.teslasoft.core.permission.ACCESS_CORE"
		android:label="access Teslasoft Core"
		android:icon="@drawable/app_icon"
		android:description="@string/permission_access_core_desc"
		android:permissionGroup="com.teslasoft.permission-group.TESLASOFT_CORE"
		android:permissionFlags="hardRestricted"
		android:protectionLevel="dangerous" />

	<permission
		android:name="com.teslasoft.core.permission.ACCESS_ROOT"
		android:label="access root on this device"
		android:icon="@drawable/app_icon"
		android:description="@string/permission_access_root_desc"
		android:permissionGroup="com.teslasoft.permission-group.ROOT"
		android:permissionFlags="hardRestricted"
		android:protectionLevel="dangerous" />

	<permission
		android:name="com.teslasoft.core.permission.ACCESS_SMARTCARD_FRAMEWORK"
		android:label="access Teslasoft SmartCard API on this device"
		android:icon="@drawable/app_icon"
		android:description="@string/permission_access_smartcard_desc"
		android:permissionGroup="com.teslasoft.permission-group.SMARTCARD"
		android:permissionFlags="hardRestricted"
		android:protectionLevel="dangerous" />

	<permission
		android:name="com.teslasoft.core.permission.USE_BIOMETRICS"
		android:label="use biometric authentication on this device"
		android:icon="@drawable/ic_fingerprint"
		android:description="@string/permission_access_bio_desc"
		android:permissionGroup="com.teslasoft.permission-group.USE_BIOMETRICS"
		android:permissionFlags="hardRestricted"
		android:protectionLevel="dangerous" />

	<permission
		android:name="com.teslasoft.core.permission.COREX"
		android:label="load CoreX library and binaries on this device"
		android:icon="@drawable/app_icon"
		android:description="@string/permission_access_corex_desc"
		android:permissionGroup="com.teslasoft.permission-group.COREX"
		android:permissionFlags="hardRestricted"
		android:protectionLevel="dangerous" />

	<permission
		android:name="com.teslasoft.core.permission.AUTHENTICATE_ACCOUNTS"
		android:label="use Jarvis Account API on this device"
		android:icon="@drawable/app_icon"
		android:description="@string/permission_access_auth_desc"
		android:permissionGroup="com.teslasoft.permission-group.AUTHENTICATE_ACCOUNTS"
		android:permissionFlags="hardRestricted"
		android:protectionLevel="dangerous" />

	<uses-permission
		android:name="com.teslasoft.core.permission.ACCESS_CORE"/>
	<uses-permission
		android:name="com.teslasoft.core.permission.ACCESS_SMARTCARD_FRAMEWORK"/>
	<uses-permission
		android:name="com.teslasoft.core.permission.USE_BIOMETRICS"/>
	<uses-permission
		android:name="com.teslasoft.core.permission.COREX"/>
	<uses-permission
		android:name="com.teslasoft.core.permission.AUTHENTICATE_ACCOUNTS"/>
	<uses-permission
		android:name="com.teslasoft.jarvis.SYSTEM"/>
	<uses-permission
		android:name="com.android.vending.BILLING"/>
	<uses-permission
		android:name="android.permission.INTERNET"/>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission
		android:name="android.permission.USE_FINGERPRINT"/>
	<uses-permission
		android:name="android.permission.USE_BIOMETRICS"/>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission
		android:name="android.permission.READ_OEM_UNLOCK_STATE"
		tools:ignore="ProtectedPermissions"/>
	<uses-permission
		android:name="com.android.vending.CHECK_LICENSE"/>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission
		android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission
		android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission
		android:name="android.permission.NFC"/>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"/>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<permission
		android:name="android.permission.QUERY_ALL_PACKAGES" />

	<application
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		android:name=".CrashHandler"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		tools:replace="android:appComponentFactory"
		android:icon="@drawable/app_icon"
		android:requestLegacyExternalStorage="true"
		android:persistent="false"
		tools:targetApi="p">
		<activity
			android:name=".InitActivity"
			android:exported="true"
			android:label="@string/activity_init_name"
			android:theme="@style/Theme.Transparent"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>
		<!--<activity
			android:name="com.teslasoft.jarvis.WarningActivity"
			android:label="@string/app_name"
			android:process=":system"
			android:theme="@style/Theme.Transparent.NoAnim"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>-->
		<activity
			android:name="android.security.BiometricAuthenticator"
			android:label="@string/security_title"
			android:icon="@drawable/ic_fingerprint"
			android:theme="@style/Theme.Transparent.Slide.TransparentAB"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="false">
		</activity>
		<activity
			android:name="android.security.BiometricAuthenticatorCallback"
			android:label="@string/security_title"
			android:icon="@drawable/ic_fingerprint"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.licence.PiracyCheckActivity"
			android:label="@string/licence_manager_title"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="android.security.ProtectActivity"
			android:label="@string/security_title"
			android:icon="@drawable/ic_fingerprint"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.licence.ApplicationHealthActivity"
			android:label="@string/licence_manager_title"
			android:icon="@drawable/app_icon"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.core.AutoRunActivity"
			android:label="Jarvis Core"
			android:icon="@drawable/app_jarvis"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.EmulatedBoot"
			android:label="Android System"
			android:theme="@style/Theme.Boot"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.core.SmartCardLoader"
			android:label="Teslasoft Core"
			android:icon="@drawable/app_jarvis"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.core.ServiceSettingActivity"
			android:label="Teslasoft Core"
			android:icon="@drawable/app_jarvis"
			android:theme="@style/Theme.Transparent.Slide.TransparentAB"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.core.ErrorServiceActivity"
			android:label="Teslasoft Core"
			android:icon="@drawable/app_jarvis"
			android:theme="@style/Theme.Transparent.Slide.TransparentAB"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.core.ServicesActivity"
			android:label="Teslasoft Core"
			android:icon="@drawable/app_jarvis"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.crashreport.Report"
			android:label="Jarvis Crash Handler"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.crashreport.BugReport"
			android:label="Jarvis Crash Handler"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.crashreport.Detail"
			android:label="Jarvis Crash Handler"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>
		<activity
			android:name=".LoadActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.Transparent"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>

		</activity>
		<activity
			android:name="com.teslasoft.jarvis.auth.AuthEntryActivity"
			android:label="@string/activity_auth_name"
			android:theme="@style/Theme.Transparent.S"
			android:icon="@drawable/jarvis2"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.auth.AccountSettings"
			android:label="@string/account_settings_title"
			android:icon="@drawable/jarvis2"
			android:theme="@android:style/Theme.Material.NoActionBar"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.auth.AccountPickerActivity"
			android:label="@string/select_account_title"
			android:icon="@drawable/jarvis2"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SettingsActivity"
			android:label="@string/settings_title"
			android:icon="@drawable/jarvis2"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.auth.VerifyAccountActivity"
			android:label="@string/verify_account_title"
			android:icon="@drawable/jarvis2"
			android:theme="@style/Theme.Transparent.S"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.auth.AuthActivity"
			android:label="@string/activity_auth_name"
			android:theme="@style/Theme.Transparent.S"
			android:icon="@drawable/jarvis2"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>
		<activity
			android:name=".WebActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.Transparent.Slide"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="com.teslasoft.jarvis.CoreActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.Transparent.NoAnim"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<!--<activity
			android:name="com.teslasoft.jarvis.AppsList"
			android:theme="@android:style/Theme.Material.Wallpaper"
			android:label="@string/app_name"
			android:process=":main"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>-->
		<!--<activity
			android:name="com.teslasoft.jarvis.Jarvis"
			android:theme="@android:style/Theme.Material.Wallpaper"
			android:icon="@drawable/app_jarvis"
			android:label="Jarvis"
			android:process=":main"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
		</activity>-->
		<activity
			android:name="com.teslasoft.jarvis.easter.JarvisPlatLogo"
			android:label="Jarvis Easter Egg"
			android:theme="@style/Theme.Transparent.Logo"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:icon="@drawable/ic_egg"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.teslasoft.jarvis.easter.EasterEgg"
			android:label="Jarvis Easter Egg"
			android:theme="@style/Theme.Transparent.Egg"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:icon="@drawable/ic_egg">
		</activity>
		<activity
			android:name="net.jarvis.engine.TaskCdhActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.Transparent.Float"
			android:launchMode="singleTask"
			android:stateNotNeeded="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<service android:enabled="false" android:name="com.teslasoft.jarvis.core.AutoRunService" android:process=":core"/>
		<service android:enabled="false" android:name="com.teslasoft.jarvis.core.AutoRunForegroundService" android:process=":core"/>
		<service android:enabled="false" android:name="com.teslasoft.jarvis.core.InitService" android:process=":core" android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service android:enabled="false" android:name="com.teslasoft.jarvis.core.DataProtectorService" android:process=":core" android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service android:enabled="true" android:name="com.teslasoft.jarvis.core.LicenceCheckService" android:process=":core" android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service android:enabled="true" android:name="com.teslasoft.jarvis.core.NotificationStatService" android:process=":core" android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service android:enabled="true" android:name="com.teslasoft.jarvis.core.SmartCardService" android:process=":core" android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service android:enabled="true" android:name="com.teslasoft.jarvis.auth.SyncService"
			android:exported="true">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter" />
		</service>
		<service android:name="com.teslasoft.jarvis.auth.AccountService" android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator"/>
			</intent-filter>
			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator"/>
		</service>
		<receiver android:name=".AdminReceiver"
			android:label="@string/app_name"
			android:description="@string/device_admin_desc"
			android:permission="android.permission.BIND_DEVICE_ADMIN"
			android:icon="@drawable/app_icon"
			android:exported="false">

			<meta-data android:name="android.app.device_admin"
				android:resource="@xml/admin" />

			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
				<action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
			</intent-filter>
		</receiver>
		<receiver android:name=".BootCompletedReceiver"
			android:enabled="true"
			android:exported="true"
			android:priority="2147483647"
			android:label="BootCompletedReceiver">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.teslasoft.jarvis.core.RestartServiceReceiver"
			android:enabled="true"
			android:exported="true"
			android:label="RestartServiceReceiver">

			<intent-filter>
				<action android:name="com.teslasoft.jarvis.RESTART_INIT_CORE_SERVICE" />
				<data android:scheme="package"/>
			</intent-filter>
		</receiver>
		<receiver android:name=".SecretSettings" android:exported="true">
			<intent-filter>
				<action android:name="android.provider.Telephony.SECRET_CODE"/>
				<data android:scheme="android_secret_code" android:host="348216"/>
			</intent-filter>
		</receiver>
		<receiver android:name=".EmulatedBootReceiver" android:exported="true">
			<intent-filter>
				<action android:name="android.provider.Telephony.SECRET_CODE"/>
				<data android:scheme="android_secret_code" android:host="3378"/>
			</intent-filter>
		</receiver>
		<provider
			android:name="com.teslasoft.jarvis.auth.SyncProvider"
			android:authorities="org.teslasoft.id.account_sync"
			android:exported="true"
			android:syncable="true"/>
	</application>
</manifest>
